.header {
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.container {
   max-width: 800px;
   margin: 0 auto; 
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items:center;
}

.header__left img {
    height: 50px;
    width: 60px;
}

.header__left .header__title {
    color: #ffff;
    font-size: 24px;
    margin-left: 15px;
}

.header__subtitle {
    color: #ffff
}